---
import { Icon } from 'astro-icon/components';
import ContactForm from "./ContactForm.astro";
---

<dialog id="free-trial-dialog">
  <button type="button" aria-label="Close menu" aria-controls="free-trial-dialog">
    <Icon name="close" size="28px" />
  </button>
  <div class="free-trial-form-wrapper">
    <ContactForm formHeading="Start Your Free Trial" id="free-trial-form" />
  </div>
</dialog>

<style>
  @layer components {
    dialog {
      overflow-x: hidden;
    }
    .free-trial-form-wrapper {
      position: relative;
      max-inline-size: 600px;
      @container (width < 600px) {
        block-size: 100vh;
        block-size: 100dvh;
      }
      @container (width >= 600px) {
        margin: 2rem auto;
      }
    }
		button {
      color: var(--paper);
      position: absolute;
      z-index: 1;
      inset: 0 0 auto auto;
      padding: 0.75rem;
			appearance: none;
			background: none;
			border: none;
			cursor: pointer;
		}
  }
</style>

<script>
  const dialog = document.getElementById('free-trial-dialog');
  const form = dialog?.querySelector('form');
  
  if (form) {
    const classSchedule = form.querySelector('[data-calendar="class-schedule"]');
    const calendarAddYouth = form.querySelector('[data-calendar="add-youth"]');
    const calendarAddAdult = form.querySelector('[data-calendar="add-adult"]');
    const contactDetailsFieldset = form.elements.namedItem('contact-details') as HTMLFieldSetElement | null;
    const frequencyFieldset = form.elements.namedItem('frequency') as HTMLFieldSetElement | null;
    const successMessage = form?.querySelector('.success-message');
    const submitButton = form?.querySelector('button[type="submit"]') as HTMLButtonElement | null;
  
    dialog?.addEventListener('close', () => {
      form.reset();
      classSchedule?.classList.add('d-none');
      calendarAddYouth?.classList.add('d-none');
      calendarAddAdult?.classList.add('d-none');
      if (contactDetailsFieldset) {
        contactDetailsFieldset.disabled = false;
      }
      if (frequencyFieldset) {
        frequencyFieldset.classList.add('d-none');
        frequencyFieldset.disabled = false;
      }
      if (submitButton) {
        submitButton.disabled = false;
      }
      successMessage?.classList.add('d-none');
    });
  }
</script>