---

---

<header aria-label="Site header">
	<div>
		<img src={import.meta.env.BASE_URL + 'logo.avif'} alt="Dean's Martial Arts and Self Defense Logo" />
	</div>
	<nav aria-label="Site navigation">
		<a href={import.meta.env.BASE_URL}>The Dojo</a>
		<a href={import.meta.env.BASE_URL + 'about'}>Classes</a>
		<a href={import.meta.env.BASE_URL + 'contact'}>Free Trial</a>
		<a href={import.meta.env.BASE_URL + 'contact'}>Contact</a>
	</nav>
</header>

<style>
	
</style>
