---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
import logo from "../assets/logo.svg";
import MenuItems from "./MenuItems.astro";

---

<header aria-label="Site header">
	<div>
		<div class="site-logo">
			<Image src={logo} alt="Dojo seal" width={50} height={50} fetchpriority="high" />
			<a href="/">
				Dean's Okinawan <br aria-hidden="true" /> Martial Arts
			</a>
		</div>
		<div class="nav-wrapper">
			<MenuItems currentView="default" />
			<a aria-label="Contact" href="#contact"><Icon name="phone" size="24px" /></a>
			<button 
				type="button" 
				aria-label="Toggle main menu" 
				aria-haspopup="dialog"
				aria-controls="sm-nav"
				data-toggle="nav-menu"
			>
				<Icon name="menu" size="28px" />
			</button>
		</div>
	</div>
</header>
<dialog id="nav-menu">
	<button type="button" aria-label="Close menu" data-toggle="nav-menu" aria-controls="nav-menu">
		<Icon name="close" size="28px" />
	</button>
	<MenuItems currentView="dialog" />
</dialog>

<script>
	const menuToggleButtons = document.querySelectorAll('[data-toggle="nav-menu"]');
	const navDialog = document.getElementById('nav-menu') as HTMLDialogElement;
	
	menuToggleButtons.forEach(button => {
		button?.addEventListener('click', () => {
			const isOpen = navDialog instanceof HTMLDialogElement && navDialog.open;
			if (isOpen) {
				navDialog?.close();
			} else {
				navDialog?.showModal();
			}
		});
	});
	// Close even when using local anchor
	navDialog.addEventListener('click', (event) => {
		if (event.target instanceof HTMLAnchorElement) {
			navDialog.close();
		}
	});
</script>

<style>
	@layer components {
		header {
			container: header / inline-size;
			background: linear-gradient(to bottom, rgba(15, 12, 10, 0.98), rgba(15, 12, 10, 0.75));
			border-bottom: 1px solid rgba(194, 189, 181, 0.15);
			position: fixed;
			inline-size: 100%;
			top: 0;
			z-index: 9;
		}
		header > div {
			min-block-size: var(--header-height);
			display: grid;
			gap: 0.5rem;
			grid-template-columns: auto 1fr;
			justify-items: flex-end;
			align-items: center;
			box-sizing: border-box;
			padding: 0.5rem 1rem;
			@container header (width >= 900px) {
				padding: 0.9rem 3rem;
			}
		}
		.nav-wrapper {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
		.site-logo {
			position: relative;
			display: grid;
			gap: 1rem;
			align-items: center;
			grid-template-columns: 50px auto;
		}
		:where(a, button) {
			font-weight: 700;
			font-family: var(--ff-heading);
			display: block;
			text-decoration: none;
			font-size: 0.85rem;
			color: var(--silver);
			text-transform: uppercase;
		}
		dialog button {
			justify-self: end;
			padding: 0.5rem;
		}
		button {
			appearance: none;
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
		}
		.site-logo a::after {
			inline-size: 100%;
			block-size: 100%;
			content: '';
			position: absolute;
			inset: 0;
		}
	}
</style>
