---
import { getCollection } from "astro:content";
import { FREE_TRIAL_MESSAGE } from "../constants";

const newsCollection = await getCollection("blog");
const galleryCollection = await getCollection("gallery");
const faqsCollection = await getCollection("faqs");
const dictionaryCollection = await getCollection("dictionary");

interface MenuItemsProps {
  currentView: 'default' | 'dialog';
}

const currentPath = Astro.url.pathname;
const { currentView = 'default' } = Astro.props as MenuItemsProps;
---

<nav aria-label="Site navigation" class={`nav-${currentView}`} id={`nav-${currentView}`}>
{currentView === 'default' && (
  <>
    <a href="/about/" class="d-none d-md-block" aria-current={currentPath === '/about/' ? 'page' : undefined}>About</a>
    <a href="/#classes" class="d-none d-md-block" aria-current={currentPath === '/#classes' ? 'page' : undefined}>Classes</a>
    <a href="/instructors/" class="d-none d-lg-block" aria-current={currentPath === '/instructors/' ? 'page' : undefined}>Instructors</a>
    {newsCollection && newsCollection.length > 0 && (
      <a href="/news/1/" class="d-none d-sm-block" aria-current={currentPath === '/news/1/' ? 'page' : undefined}>News</a>
    )}
    {galleryCollection && galleryCollection.length > 0 && (
      <a href="/gallery/1/" class="d-none d-lg-block" aria-current={currentPath === '/gallery/1/' ? 'page' : undefined}>Gallery</a>
    )}
    {faqsCollection && faqsCollection.length > 0 && (
      <a href="/faqs/1/" class="d-none d-lg-block" aria-current={currentPath === '/faqs/1/' ? 'page' : undefined}>FAQs</a>
    )}
    {dictionaryCollection && dictionaryCollection.length > 0 && (
      <a href="/dictionary/" class="d-none" aria-current={currentPath === '/dictionary/' ? 'page' : undefined}>Dictionary</a>
    )}
    {newsCollection && newsCollection.length > 0 && (
      <a href="/news/the-lineage-of-matsumura-seito-a-direct-line-to-the-source/" class="d-none" aria-current={currentPath === '/news/the-lineage-of-matsumura-seito-a-direct-line-to-the-source/' ? 'page' : undefined}>Our Lineage</a>
    )}
    <button 
      type="button" 
      aria-controls="free-trial-dialog" 
      aria-haspopup="dialog" 
      class="site-nav-cta d-none d-sm-block"
    >
      Free Trial
    </button>
  </>
)}

{currentView === 'dialog' && (
  <>
    <a href="/" aria-current={currentPath === '/' ? 'page' : undefined}>Home</a>
    <button 
      type="button" 
      aria-controls="free-trial-dialog" 
      aria-haspopup="dialog" 
      class="site-nav-cta"
    >
      Free Trial
    </button>
    <a href="/about/" aria-current={currentPath === '/about/' ? 'page' : undefined}>About</a>
    <a href="/#classes" aria-current={currentPath === '/#classes' ? 'page' : undefined}>Classes</a>
    <a href="/instructors/" aria-current={currentPath === '/instructors/' ? 'page' : undefined}>Instructors</a>
    {newsCollection && newsCollection.length > 0 && (
      <a href="/news/1/" aria-current={currentPath === '/news/1/' ? 'page' : undefined}>News</a>
    )}
    {galleryCollection && galleryCollection.length > 0 && (
      <a href="/gallery/1/" aria-current={currentPath === '/gallery/1/' ? 'page' : undefined}>Gallery</a>
    )}
    {faqsCollection && faqsCollection.length > 0 && (
      <a href="/faqs/1/" aria-current={currentPath === '/faqs/1/' ? 'page' : undefined}>FAQs</a>
    )}
    {dictionaryCollection && dictionaryCollection.length > 0 && (
      <a href="/dictionary/" aria-current={currentPath === '/dictionary/' ? 'page' : undefined}>Dictionary</a>
    )}
    {newsCollection && newsCollection.length > 0 && (
      <a href="/news/the-lineage-of-matsumura-seito-a-direct-line-to-the-source/" aria-current={currentPath === '/news/the-lineage-of-matsumura-seito-a-direct-line-to-the-source/' ? 'page' : undefined}>Our Lineage</a>
    )}
    <a href="#contact">Contact</a>
  </>
)}
</nav>

<script is:inline define:vars={{FREE_TRIAL_MESSAGE}}>

  document.querySelectorAll('#nav-default, #nav-dialog').forEach(nav => {
    nav.addEventListener('click', event => {
      const isDialogTrigger = 
        event.target instanceof HTMLButtonElement 
        && event.target.getAttribute('aria-controls') === 'free-trial-dialog';
      
      if (isDialogTrigger) {
        const freeTrialDialog = document.getElementById('free-trial-dialog');
        const form = document.forms.namedItem('free-trial-form');
        
        console.log('freeTrialDialog', freeTrialDialog);
        console.log('!freeTrialDialog.open', !freeTrialDialog.open)
        if (freeTrialDialog) {
          form?.reset();
          freeTrialDialog.showModal();
          const messageTextarea = document.getElementById('free-trial-form-message');

          if (messageTextarea) {
            messageTextarea.value = FREE_TRIAL_MESSAGE;
          }
          form?.dispatchEvent(new Event('change', { bubbles: true }));
        }
      }
    });
  });
</script>

<style>
	@layer components {
    .nav-default {
			display: flex;
			align-items: center;
			gap: 1rem;
			@container (width >= 900px) {
				gap: 2rem;
			}
		}
		.nav-dialog {
			display: grid;
			justify-items: center;
      align-items: center;
			gap: 1rem;
      padding-inline: 1rem;
      box-sizing: border-box;
			@container (width >= 600px) {
				grid-template-columns: repeat(2, 1fr);
			}
      @container (width >= 900px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
    .nav-dialog :where(a, button) {
      font-size: 1.25rem;
			font-weight: 600;
      min-block-size: 32px;
    }
		.site-nav-cta {
			position: relative;
			background: var(--deep-red);
			font-family: var(--ff-heading);
    	font-weight: 700;
			padding: 0.5rem 0.75rem;
			box-sizing: border-box;
			text-align: center;
		}
		.site-nav-cta::after {
			content: "";
			position: absolute;
			inset: 2px;
			border: 1px solid rgba(255, 255, 255, 0.1);
			pointer-events: none;
		}
		button {
			appearance: none;
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
		}
		a, button {
			font-family: var(--ff-heading);
			display: block;
			text-decoration: none;
			font-size: 0.85rem;
			letter-spacing: 0.2em;
			color: var(--silver);
			text-transform: uppercase;
		}
		a[aria-current='page'] {
			text-decoration: underline;
			text-decoration-color: var(--bright-red);
			text-decoration-thickness: 2px;
			font-weight: 500;
		}
		a:hover {
			text-decoration: underline;
		}
	}
</style>
