---
import { Icon } from 'astro-icon/components';
---

<div>
  <Icon name="spinner" size="56px" />
</div>

<style>
  div {
    display: grid;
    place-content: center;
    place-items: center;
    min-block-size: 50dvh;
  }
</style>
