---

---

<div class="ribbon">
  <div>Traditional Okinawan Karate</div>
  <div>Ages 4 and Up</div>
  <div>Hollywood, Maryland</div>
  <div>Matsumura Seito Lineage</div>
</div>

<style>
@layer components {
  .ribbon {
    --gap-y: 1rem;
    --gap-x: 3rem;
    background: var(--deep-red);
    padding: 1rem;
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    align-items: center;
    gap: var(--gap-y) var(--gap-x);
    text-align: center;
    border-top: 1px solid rgba(194, 189, 181, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    @container main (width >= 600px) {
      grid-auto-flow: column;
    }
  }
  .ribbon > div {
    position: relative;
  }
  .ribbon > div:not(:last-of-type)::after {
    position: absolute;
    opacity: 0.5;
    content: '|';
  }
  .ribbon > div:not(:last-of-type)::after {
    @container main (width < 600px) {
      inset: auto auto 0 50%;
      translate: -100% 100%;
      rotate: 90deg;
    }
    @container main (width >= 600px) {
      inset: auto calc(var(--gap-x) * -0.5) auto auto;
    }
  }
}
</style>
