:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--text);;
  --pagefind-ui-text: var(--text);;
  --pagefind-ui-background: var(--stone);;
  --pagefind-ui-border: rgba(194,189,181,0.15);
  --pagefind-ui-tag: var(--ink);
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 4px;
  --pagefind-ui-image-border-radius: 4px;
  --pagefind-ui-image-box-ratio: 3 / 4;
  --pagefind-ui-font: var(--ff-body);
}
